<fieldset class="box tabular">
  <legend><%=l(:stealth)%></legend>
  <p>
    <%= form.check_box(:stealth_allowed, 
                       :disabled => (true unless User.current.admin?))
    %>
  </p>
</fieldset>
